body {
    background-color: #FFF2F2;
    font-family: 'lora, serif';
}

.navigation {
    display: flex;
    flex-direction: row;
    width: 96.4%;
    margin-left: 1.8%;
    align-items: center;
    height: 60px;
}

.logo {
    width: 52px;
    height: 52px;
    padding: 1%;
    text-align: center;
}

.inline-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.options b {
    padding-left: 60px;
    font-size: 20px;
    font-family: 'Lora', serif;
    font-style: bold;
    cursor: pointer;
  }
.navigation h4 {
    width: 50%;
    font-size: 32px;
    color: #870A30;
    font-family: 'lora';
    cursor:pointer;
}


.options {
    display: flex;
    flex-direction: row;
    color: #870A30; 
    align-items: right;
    
}

.list {
    width: 50%;
    margin-left: auto;
    list-style-type: none;
    color: #870A30;
}

/*Hero section*/

.heroImg {
    height: 840px;
    padding-top: 25px;

    
}

.content {
    display: grid;
    width: 418px;
    height: 185px;
    margin-left: 600px;
    margin-top: 480px;
    background-color: #FAD2E0; 
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 18% 82%;
    grid-template-areas: 
        "emailIimg email"
        "phoneImg phone"
        "linkImg link";

}

.emailImg, .phoneImg, .linkImg {
    width: 50px;
    margin-top: 6px;
    margin-bottom: 4px;
    padding-left: 18px;
}


.email {
    font-size: 24px;
    font-family: 'lato';   
}

.phone {
    font-size: 24px;
    font-family: 'lato';
}

.link {
    font-size: 24px;
    font-family: 'lato';
}

.content p {
    margin-top: 14px;
    margin-bottom: 12px;
}


.selfiebox {
    display: flex;  
    flex-wrap: wrap;
    margin-left: 10%;
    margin-top: 6.5%;
}

.seflie {
    width: 602px;
    height: 615px;
    margin-left: 155px;
    background-color: green;
    margin-top: 20px;
}

.rolebox {
    display: flex;
    flex-direction: column;
    margin-left: 155px;
    width: 1000px;
}


.role {
    font-size: 96px;
    font-family: 'Lora', serif;
    margin-left: 208px;
    font-style: italic;
    height: 110px;
    color: #870A30;

}

.designValue {
    font-size: 96px;
    font-family: 'Lora', serif;
    font-style: italic;
    padding-left: 600px;

    height: 110px;
    color: #FFF2F2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #870A30;
}

.rolebox b {
    padding-bottom: 1px;
}

.colourBlock {
    height: 250px;
    background-color: #870A30;
    margin-top: -125px;
    margin-left: 0%;
}

/*footer*/
.foot {
    background-color: #373738;
    padding: 20px;
}

.footer ul {
    display: inline-block;
    vertical-align: top;
}

