body {
    background-color: #FFF2F2;
}

.navigation {
    display: flex;
    flex-direction: row;
    width: 96.4%;
    margin-left: 1.8%;
    align-items: center;
    height: 60px;
}

.logo {
    width: 52px;
    height: 52px;
    padding: 1%;
    text-align: center;
}

.inline-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.options b {
    padding-left: 60px;
    font-size: 20px;
    font-family: "lora";
    font-style: bold;
    cursor: pointer;
  }
.navigation h1 {
    width: 50%;
    font-size: 32px;
    color: #870A30;
    font-family: 'lora';
    cursor:zoom-in
}


.options {
    display: flex;
    flex-direction: row;
    color: #870A30; 
    align-items: left;
    
}

.list {
    width: 50%;
    margin-left: auto;
    list-style-type: none;
    color: #870A30;
}

.heroImg {
    height: 600px;
    padding: 25px;   
}

.content {
    width: 500px;
    margin: 0% auto;
}

.footer {
    background-color: #373738;
    padding: 20px;
}

.footer ul {
    display: inline-block;
    vertical-align: top;
}

