body {
    background-color: #FFF2F2;
}

.navigation {
    display: flex;
    flex-direction: row;
    width: 96.4%;
    margin-left: 1.8%;
    align-items: center;
    height: 60px;
}

.logo {
    width: 52px;
    height: 52px;
    padding: 1%;
    text-align: center;
}

.inline-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.options b {
    padding-left: 60px;
    font-size: 20px;
    font-family: "lora";
    font-style: bold;
    cursor: pointer;
  }
.navigation h4 {
    width: 50%;
    font-size: 32px;
    color: #870A30;
    font-family: 'lora';
    cursor:pointer;
}


.options {
    display: flex;
    flex-direction: row;
    color: #870A30; 
    align-items: right;
    
}

.list {
    width: 50%;
    margin-left: auto;
    list-style-type: none;
    color: #870A30;
}

.heroImg {
    height: 600px;
    padding: 25px;

    
}

.content {
    width: 500px;
    margin-left: 155px;
    background-color: blue; 

}

.rolebox {
    display: flex;
    flex-direction: column;

    margin-left: 155px;
    width: 1000px;
}

.selfiebox {
    display: flex;  
    flex-wrap: wrap;
    margin-left: 155px;
    margin-top: 6%;
}

.seflie {
    width: 602px;
    height: 615px;
    margin-left: 155px;
    background-color: green;
    margin-top: 20px;
}

.role {
    font-size: 96px;
    font-family: 'Lora', serif;
    margin-left: 200px;
    font-style: italic;

}

.designValue {
    font-size: 96px;
    font-family: 'Lora', serif;
    font-style: italic;
    padding-left: 600px;
    width: 805px;
    color: #FFF2F2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.rolebox b {
    padding-bottom: 1px;
}

.footer {
    background-color: #373738;
    padding: 20px;
}

.footer ul {
    display: inline-block;
    vertical-align: top;
}

